{% load static %}

<section class="px-10 py-20 bg-slate-200 mt-5 daily__dealMainSection">
    <div class="grid grid-cols-2 gap-x-4 daily__dealSection">
        <section class="flex flex-col items-center justify-between bg-white shadow-lg pt-5 overflow-hidden daily__dealCard">
            <section class="flex flex-col items-center">
                <div class="px-5 text-center daily__dealContent">
                    <h5 class="daily__dealHeader text-5xl text-sky-600 font-bold">Daily Deal</h5>
                    <h6 class="font-bold my-4 text-xl">Food Showcase</h6>
                    <p class="text-rose-400 font-bold">Only hours left to save your favorite food!</p>
                </div>

                {% comment %}Time counter section starts{% endcomment %}
                <div class="flex items-center gap-x-1 my-4 text-3xl font-bold text-rose-400 daily__dealTimeCounter">
                    <p id="days"></p>
                    <p id="hours"></p>
                    <p id="mins"></p>
                    <p id="secs"></p>
                    <p id="end"></p>
                </div>
                {% comment %}Time counter section ends{% endcomment %}

                <div class="mb-4">
                    <a href="#" class="flex items-center gap-x-1 font-bold">Shop Now <span class="iconify" data-icon="bi:arrow-right"></span></a>
                </div>
            </section>

            <div class="w-full daily__dealImg">
                <img class="w-full h-full object-cover" src="{% static 'testImg/cat.jpg' %}" alt="">
            </div>
        </section>

        <section class="flex flex-wrap gap-4">
            {% comment %}Not more than 4 products{% endcomment %}
            <section class="w-72 relative p-5 pb-3 hover:shadow-lg hover:bg-white transition-all duration-300 ease-in-out overflow-x-hidden product__card"  id="home__product1">
                <div class="relative">
                    <a href="#">
                        <section class="tab__productImg w-full h-60">
                            <img class="w-full h-full object-cover" src="{% static 'testImg/product.jpg' %}" alt="">
                        </section>
                    </a>

                    <section class="absolute product__options">
                        <div class="flex items-center justify-center gap-x-2">
                            <section onclick="quickView(1)" class="opacity-0 transition-all duration-300 ease-in-out quick__viewBtn">
                                <section class="relative bg-slate-800 px-3 py-2 hover:bg-rose-400 cursor-pointer product__option">
                                    <span class="iconify text-slate-200 text-2xl" data-icon="bi:eye"></span>
                                    <div class="absolute product__quickOptionContent product__quickOptionContent1 opacity-0 bg-slate-700 px-3 py-1 rounded-sm transition-opacity duration-300 ease-in-out">
                                        <p class="text-sm text-slate-200 whitespace-nowrap">Quick View</p>
                                        <i class="product__optionArrow product__optionArrow1 bg-slate-700 border-slate-700"></i>
                                    </div>
                                </section>
                            </section>
                            <section class="opacity-0 transition-all duration-300 ease-in-out">
                                <form action="">
                                    <button class="relative bg-slate-800 px-3 py-2 hover:bg-rose-400 cursor-pointer product__option">
                                        <span
                                            class="iconify text-slate-200 text-2xl"
                                            data-icon="cil:heart"
                                        ></span>
                                        <div class="absolute product__quickOptionContent product__quickOptionContent2 opacity-0 bg-slate-700 px-3 py-1 rounded-sm transition-opacity duration-300 ease-in-out">
                                            <p class="text-sm text-slate-200 whitespace-nowrap">Add to wishlist</p>
                                            <i class="product__optionArrow product__optionArrow2 bg-slate-700 border-slate-700"></i>
                                        </div>
                                    </button>
                                </form>
                            </section>
                        </div>
                    </section>
                </div>

                <div class="mt-4">
                    <a href="#">
                        <p class="font-bold">Gorgeous Wooden Gloves</p>
                    </a>
                    <section class="flex items-center tab__productContent mt-1">
                        <form action="" class="text-slate-700 hover:text-sky-600 cursor-pointer transition-all duration-300 ease-in-out">
                            <button type="submit" class="flex items-center gap-x-1">
                                <span class="iconify" data-icon="ant-design:shopping-cart-outlined"></span>
                                Add to cart
                            </button>
                        </form>
                        <div class="flex items-center gap-x-2 transition-all duration-300 ease-in-out">
                            <p class=" text-slate-500 text-sm line-through">$75.00</p>
                            <p class="text-slate-700">$65.00</p>
                        </div>
                    </section>
                </div>
            </section>

            {% comment %}Extra product section starts{% endcomment %}
            <section class="w-72 product__card relative p-5 pb-3 hover:shadow-lg hover:bg-white transition-all duration-300 ease-in-out overflow-x-hidden"  id="home__product1">
                <div class="relative">
                    <a href="#">
                        <section class="tab__productImg w-full h-60">
                            <img class="w-full h-full object-cover" src="{% static 'testImg/product.jpg' %}" alt="">
                        </section>
                    </a>

                    <section class="absolute product__options">
                        <div class="flex items-center justify-center gap-x-2">
                            <section onclick="quickView(1)" class="opacity-0 transition-all duration-300 ease-in-out quick__viewBtn">
                                <section class="relative bg-slate-800 px-3 py-2 hover:bg-rose-400 cursor-pointer product__option">
                                    <span class="iconify text-slate-200 text-2xl" data-icon="bi:eye"></span>
                                    <div class="absolute product__quickOptionContent product__quickOptionContent1 opacity-0 bg-slate-700 px-3 py-1 rounded-sm transition-opacity duration-300 ease-in-out">
                                        <p class="text-sm text-slate-200 whitespace-nowrap">Quick View</p>
                                        <i class="product__optionArrow product__optionArrow1 bg-slate-700 border-slate-700"></i>
                                    </div>
                                </section>
                            </section>
                            <section class="opacity-0 transition-all duration-300 ease-in-out">
                                <form action="">
                                    <button class="relative bg-slate-800 px-3 py-2 hover:bg-rose-400 cursor-pointer product__option">
                                        <span
                                            class="iconify text-slate-200 text-2xl"
                                            data-icon="cil:heart"
                                        ></span>
                                        <div class="absolute product__quickOptionContent product__quickOptionContent2 opacity-0 bg-slate-700 px-3 py-1 rounded-sm transition-opacity duration-300 ease-in-out">
                                            <p class="text-sm text-slate-200 whitespace-nowrap">Add to wishlist</p>
                                            <i class="product__optionArrow product__optionArrow2 bg-slate-700 border-slate-700"></i>
                                        </div>
                                    </button>
                                </form>
                            </section>
                        </div>
                    </section>
                </div>

                <div class="mt-4">
                    <a href="#">
                        <p class="font-bold">Gorgeous Wooden Gloves</p>
                    </a>
                    <section class="flex items-center tab__productContent mt-1">
                        <form action="" class="text-slate-700 hover:text-sky-600 cursor-pointer transition-all duration-300 ease-in-out">
                            <button type="submit" class="flex items-center gap-x-1">
                                <span class="iconify" data-icon="ant-design:shopping-cart-outlined"></span>
                                Add to cart
                            </button>
                        </form>
                        <div class="flex items-center gap-x-2 transition-all duration-300 ease-in-out">
                            <p class=" text-slate-500 text-sm line-through">$75.00</p>
                            <p class="text-slate-700">$65.00</p>
                        </div>
                    </section>
                </div>
            </section>
            <section class="w-72 product__card relative p-5 pb-3 hover:shadow-lg hover:bg-white transition-all duration-300 ease-in-out overflow-x-hidden"  id="home__product1">
                <div class="product__sale absolute bg-sky-600 px-2 py-0.5">
                    <p class="text-slate-100 text-sm">Sale!</p>
                </div>

                <div class="relative">
                    <a href="#">
                        <section class="tab__productImg w-full h-60">
                            <img class="w-full h-full object-cover" src="{% static 'testImg/product.jpg' %}" alt="">
                        </section>
                    </a>

                    <section class="absolute product__options">
                        <div class="flex items-center justify-center gap-x-2">
                            <section onclick="quickView(1)" class="opacity-0 transition-all duration-300 ease-in-out quick__viewBtn">
                                <section class="relative bg-slate-800 px-3 py-2 hover:bg-rose-400 cursor-pointer product__option">
                                    <span class="iconify text-slate-200 text-2xl" data-icon="bi:eye"></span>
                                    <div class="absolute product__quickOptionContent product__quickOptionContent1 opacity-0 bg-slate-700 px-3 py-1 rounded-sm transition-opacity duration-300 ease-in-out">
                                        <p class="text-sm text-slate-200 whitespace-nowrap">Quick View</p>
                                        <i class="product__optionArrow product__optionArrow1 bg-slate-700 border-slate-700"></i>
                                    </div>
                                </section>
                            </section>
                            <section class="opacity-0 transition-all duration-300 ease-in-out">
                                <form action="">
                                    <button class="relative bg-slate-800 px-3 py-2 hover:bg-rose-400 cursor-pointer product__option">
                                        <span
                                            class="iconify text-slate-200 text-2xl"
                                            data-icon="cil:heart"
                                        ></span>
                                        <div class="absolute product__quickOptionContent product__quickOptionContent2 opacity-0 bg-slate-700 px-3 py-1 rounded-sm transition-opacity duration-300 ease-in-out">
                                            <p class="text-sm text-slate-200 whitespace-nowrap">Add to wishlist</p>
                                            <i class="product__optionArrow product__optionArrow2 bg-slate-700 border-slate-700"></i>
                                        </div>
                                    </button>
                                </form>
                            </section>
                        </div>
                    </section>
                </div>

                <div class="mt-4">
                    <a href="#">
                        <p class="font-bold">Gorgeous Wooden Gloves</p>
                    </a>
                    <section class="flex items-center tab__productContent mt-1">
                        <form action="" class="text-slate-700 hover:text-sky-600 cursor-pointer transition-all duration-300 ease-in-out">
                            <button type="submit" class="flex items-center gap-x-1">
                                <span class="iconify" data-icon="ant-design:shopping-cart-outlined"></span>
                                Add to cart
                            </button>
                        </form>
                        <div class="flex items-center gap-x-2 transition-all duration-300 ease-in-out">
                            <p class=" text-slate-500 text-sm line-through">$75.00</p>
                            <p class="text-slate-700">$65.00</p>
                        </div>
                    </section>
                </div>
            </section>
            <section class="w-72 product__card relative p-5 pb-3 hover:shadow-lg hover:bg-white transition-all duration-300 ease-in-out overflow-x-hidden"  id="home__product1">
                <div class="relative">
                    <a href="#">
                        <section class="tab__productImg w-full h-60">
                            <img class="w-full h-full object-cover" src="{% static 'testImg/product.jpg' %}" alt="">
                        </section>
                    </a>

                    <section class="absolute product__options">
                        <div class="flex items-center justify-center gap-x-2">
                            <section onclick="quickView(1)" class="opacity-0 transition-all duration-300 ease-in-out quick__viewBtn">
                                <section class="relative bg-slate-800 px-3 py-2 hover:bg-rose-400 cursor-pointer product__option">
                                    <span class="iconify text-slate-200 text-2xl" data-icon="bi:eye"></span>
                                    <div class="absolute product__quickOptionContent product__quickOptionContent1 opacity-0 bg-slate-700 px-3 py-1 rounded-sm transition-opacity duration-300 ease-in-out">
                                        <p class="text-sm text-slate-200 whitespace-nowrap">Quick View</p>
                                        <i class="product__optionArrow product__optionArrow1 bg-slate-700 border-slate-700"></i>
                                    </div>
                                </section>
                            </section>
                            <section class="opacity-0 transition-all duration-300 ease-in-out">
                                <form action="">
                                    <button class="relative bg-slate-800 px-3 py-2 hover:bg-rose-400 cursor-pointer product__option">
                                        <span
                                            class="iconify text-slate-200 text-2xl"
                                            data-icon="cil:heart"
                                        ></span>
                                        <div class="absolute product__quickOptionContent product__quickOptionContent2 opacity-0 bg-slate-700 px-3 py-1 rounded-sm transition-opacity duration-300 ease-in-out">
                                            <p class="text-sm text-slate-200 whitespace-nowrap">Add to wishlist</p>
                                            <i class="product__optionArrow product__optionArrow2 bg-slate-700 border-slate-700"></i>
                                        </div>
                                    </button>
                                </form>
                            </section>
                        </div>
                    </section>
                </div>

                <div class="mt-4">
                    <a href="#">
                        <p class="font-bold">Gorgeous Wooden Gloves</p>
                    </a>
                    <section class="flex items-center tab__productContent mt-1">
                        <form action="" class="text-slate-700 hover:text-sky-600 cursor-pointer transition-all duration-300 ease-in-out">
                            <button type="submit" class="flex items-center gap-x-1">
                                <span class="iconify" data-icon="ant-design:shopping-cart-outlined"></span>
                                Add to cart
                            </button>
                        </form>
                        <div class="flex items-center gap-x-2 transition-all duration-300 ease-in-out">
                            <p class=" text-slate-500 text-sm line-through">$75.00</p>
                            <p class="text-slate-700">$65.00</p>
                        </div>
                    </section>
                </div>
            </section>
            {% comment %}Extra product section ends{% endcomment %}
        </section>
    </div>
</section>